* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
}

/* -------------------- PAGE -------------------- */
.team_page {
  min-height: 100vh;
  width: 100%;
  background-color: #fff!important;
  font-family: "Red Hat Display";
}
.g1text ul,.g2text ul{
  list-style: circle;
  margin-left: 15px;
}
.row h1{
  padding-top: 1rem;
  text-align: end;
}

/* -------------------- HEADER -------------------- */
.header {
  background-color: #fff;
  color: #20252D;
}
.tohome2 {
  color: #20252D;
  text-decoration: underline;
  font-size:  clamp(0.5rem,1.3vw,3rem);;
  margin: 0;
  display: inline-block;
  text-align: end;
  width: 100%;

}
.underline{
  text-decoration: underline;
  color:#fff ;
}
.img-overlay {

  color: #20252D;
  text-align: start;
  z-index: 2;
  pointer-events: none; /* makes the video clickable */
}
.team_yap{

      align-items: flex-end;
        margin-left: 6.7vw;
            font-size: 1.2rem;
                display: flex;
    flex-direction: row;
    margin-bottom: 2.2vw;
    margin-top: 2.2vw;
    font-size: clamp(7px,0.9vw,2rem);
    gap: 3.33vw;
    height: 47.5vw;
    width: 100%;
}
.holding{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% !important;
  margin-bottom: 4vh;
}
.g1text,.g2text{
          display: flex;
    flex-direction: column;

        font-size: medium;
        font-weight: bold;
            font-family: "Red Hat Display Heavy";
                font-size: clamp(7px,0.9vw,2rem);
}
.g1text{
  margin-bottom: 2rem;
}
.group1,.group2{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    gap: 2rem;
        padding-left: 1rem;
    
}
.dark{
    background-color: #20252D;
    color: #fff;
        display: flex;
    flex-direction: column;
    padding-top: 2rem;
    font-size: 1.3rem;
    gap: 1rem;
    width: 100%;
    padding-left: 5rem;
    padding-right: 6rem;
}
.dark img{
  max-width: 10vw;
}
.team_yap img{
    width: 40vw;
    height: 100%;
}
.row{
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row h1{
  text-transform: uppercase;
  font-size: clamp(0.5rem,5vw,10rem);
}
.group1 img,.group2 img{
  max-width:17vw;
  height: 100%;

}



.group1 h2,.group2 h2{
    padding-left: 1rem;
  text-transform: uppercase;
}
.p1{
  font-size: clamp(0.5rem,1.5vw,2.5rem);
  color: #20252D;
}
@media (max-width: 768px) {
  .dark img{
  max-width: 20vw;
  max-height: 23vw;
}
.group1{
  flex-direction: column;
}
.g1text{
  width: 100%;
}
}